.alice-icon {
    background-image: url( 'images/logo.svg' );
}

.alice-toolbar-open{
    background-position: 0 -24px;
}

.alice-toolbar-loading{
    background-position: 0 -48px;
}

.alice-right-icons {
    position:absolute;
    right: 0px;
    top: 6px;
}

.alice-toolbar {
    height:30px !important
}

.alice-comments {
    margin-left:20px;
    margin-top:5px;
}

.alice-comments .media-object{
    border: 1px solid grey;
    margin-top:5px;
}

.alice-comments .media:nth-child(odd){
    background-color: #e6e9e9;
}

.alice-comments .media:nth-child(even){
    background-color: #dfe2e2;
}
