<div id="bottom-alice" class="bottom-panel vert-resizable top-resizer no-focus" >
    <div class="toolbar simple-toolbar-layout mainToolbar alice-toolbar">
        <div class="row-fluid">
            <div class="span1">
                <div class="btn-group">
                    <input type="button" class="btn"
                       id="nullpo-alice-btn-refresh" value="Refresh" disabled/>
                </div>
            </div>
            <div class="span3">
                <div class="control-group alice-control-group-repo-url">
                    <div class="controls">
                        <input type="text" id="alice-url"
                           value=""
                           placeholder="Your github url..." disabled/>
                    </div>
                </div>
            </div>
            <div class="span4">
                <strong id="title-alice"></strong>
            </div>
            <div class="span3 alice-right-icons" id="alice-select-issuetype">
                <div class="btn-group">
                    <input type="button" class="btn"
                           id="nullpo-alice-btn-bugs" value="Bugs" disabled />
                    <input type="button" class="btn"
                           id="nullpo-alice-btn-open" value="Open" disabled />
                    <input type="button" class="btn"
                           id="nullpo-alice-btn-closed" value="Closed" disabled/>
                    <input type="button" class="btn"
                           id="nullpo-alice-btn-all" value="All" disabled />
                </div>
            </div>
            <a href="#" class="close">&times;</a>
        </div>
    </div>
    <div class="table-container resizable-content" id="bottom-alice-issues">
        <div class="alice-background-logo"></div>
        <div class="alice-bottom-content">
            <div class="row">
                <br/>
                <div class="span11 offset1">
                    <p>Insert your Github URL and click in the type of issue to see it.</p>
                </div>
                <div class="span10 offset2">
                    <div class="control-group alice-control-group-repo-url">
                        <div class="controls">
                            <div class="input-append">
                              <input type="text" id="alice-url-firsttime"
                                    class="span7 alice-repoUrl"
                                       value="https://github.com/Nullpo/Alice"
                                       placeholder="Your github url..."/>
                              <input class="btn" type="button"
                                     value="Save" id="nullpo-alice-saveurl"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="bottom-alice-issues-tpl" type="x-tmpl-mustache">
    <table class="bottom-panel-table table table-striped table-condensed row-highlight">
        <thead>
            <tr>
                <th style="text-align:right">#</th>
                <th style="text-align:center">Who</th>
                <th>Issue</th>
                <th>Status</th>
                <th>Labels</th>
                <th>Milestone</th>
            </tr>
        </thead>
        <tbody>
            {{#issues}}
            <tr>
                <td style="width:20px;text-align:right">
                    <a href="{{html_url}}">{{number}}</a>
                </td>
                <td style="width:30px">
                    <a href="{{assignee.html_url}}">
                        <img src="{{assignee.avatar_url}}" style="width:24px"
                            class="alice-tooltip" title="{{assignee.login}}"/>
                    </a>
                </td>
                <td><a href="#" class="alice-get-details" data-number="{{number}}">{{title}}</a></td>
                <td><a href="#">{{state}}</a></td>
                <td>
                    {{#labels}}
                        <span class="label" style="background-color:#{{color}};color:yellow">{{name}}</span>
                    {{/labels}}
                </td>
                <td>
                    {{#milestone}}
                        <span class="label label-info">
                            {{milestone.title}} ({{milestone.open_issues}})
                        </span>
                    {{/milestone}}

                </td>
            </tr>
            {{/issues}}
        </tbody>
    </table>
</script>
