<script id="bottom-alice-issuedetail-tpl" type="x-tmpl-mustache">
    <div class="alice-comments" style="position:relative">
        {{#issue}}
            <div class="alice subtitle" id="nameForTheIssue">
                <div class="pull-left">
                    {{#milestone}}
                        <span class="label label-info" style="color:white">
                            {{milestone.title}} ({{milestone.openIssues}})
                        </span>
                    {{/milestone}}
                    {{^milestone}}
                        <span class="label label-info" style="color:white">
                            No milestone
                        </span>
                    {{/milestone}}
                </div>
                <a href="{{htmlUrl}}"><strong>#{{number}} - {{title}}</strong></a>
                <div class="pull-right">
                {{#labels}}
                        <span class="label" style="background-color:{{background}};color:{{color}}">
                            {{name}}
                        </span>
                {{/labels}}
                </div>
            </div>

            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" style="width:34px" src="{{creator.avatarUrl}}">
              </a>
              <div class="media-body">
                <span class="pull-right" style="font-weight: lighter;margin-right:10px">{{createdDate}}</span>

                    <h4 class="media-heading"><a href="{{html_url}}">{{creator.title}}</a> created the issue
                    {{#body}}
                        and said:</h4>
                        <p><pre>{{body}}</pre></p>
                    {{/body}}
                    {{^body}}
                        with no comments.</h4>
                    {{/body}}
              </div>
            </div>
        {{/issue}}

        {{#comments}}
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" style="width:34px" src="{{creator.avatarUrl}}">
              </a>
              <div class="media-body">
                <span class="pull-right" style="font-weight: lighter;">{{createdDate}}</span>
                <h4 class="media-heading"><a href="{{htmlUrl}}">{{creator.title}}</a> says:</h4>
                <p><pre>{{body}}</pre></p>
              </div>
            </div>
        {{/comments}}
    </div>
</script>
