<script id="bottom-alice-issues-tpl" type="x-tmpl-mustache">
    <table class="bottom-panel-table table table-striped table-condensed row-highlight">
        <thead>
            <tr>
                <th style="text-align:right">#</th>
                <th style="text-align:center">Creator</th>
                <th style="text-align:center">Asignee</th>
                <th>Issue</th>
                <th>Status</th>
                <th>Labels</th>
                <th>Milestone</th>
            </tr>
        </thead>
        <tbody>
            {{#issues}}
            <tr>
                <td style="width:20px;text-align:right">
                    <a href="{{html_url}}">#{{number}}</a>
                </td>
                <td style="width:30px">
                    <a href="{{user.html_url}}">
                        <img src="{{user.avatar_url}}" style="width:24px"
                            class="alice-tooltip" title="{{user.login}}"/>
                    </a>
                </td>
                <td style="width:30px">
                    <a href="{{assignee.html_url}}">
                        <img src="{{assignee.avatar_url}}" style="width:24px"
                            class="alice-tooltip" title="{{assignee.login}}"/>
                    </a>
                </td>
                <td><a href="#" class="alice-get-details" data-number="{{number}}">{{title}}</a></td>
                <td><a href="#">{{state}}</a></td>
                <td>
                    {{#labels}}
                        <span class="label" style="background-color:#{{color}};color:yellow">{{name}}</span>
                    {{/labels}}
                </td>
                <td>
                    {{#milestone}}
                        <span class="label label-info">
                            {{milestone.title}} ({{milestone.open_issues}})
                        </span>
                    {{/milestone}}

                </td>
            </tr>
            {{/issues}}
        </tbody>
    </table>
</script>
