<div id="myModal" class="modal">
        <div class="modal-header">
            <h1 class="dialog-title">Settings</h1>
        </div>
        <!-- dialog contents -->
        <div class="modal-body">
            {{#userPassword}}
                <p>For a better experience, please provide us your user and password.</p>
                <input type="text" class="span4 alice accessToken"
                       id="alice-new-accessToken" value="{{token}}" />
            {{/userPassword}}
            {{^userPassword}}
                <p>For a better experience, please provide us your Personal access token.</p>
                <input type="text" class="span4 alice accessToken"
                       id="alice-new-accessToken" value="{{token}}" />
            {{/userPassword}}
        </div>
        <!-- dialog buttons -->
        <div class="modal-footer">
            <a href="#" class="btn primary" id="alice-save-accessToken">Save</a>
        </div>
    </div>
