<div id="myModal" class="modal">
        <div class="modal-header">
            <h1 class="dialog-title">Settings</h1>
        </div>
        <!-- dialog contents -->
        <div class="modal-body">
            <p>For a better experience, please provide us your Personal access token.</p>
            <p>You can get a new Personal access token from <a href="https://github.com/settings/applications#personal-access-tokens">here</a>
            </p>
            <input type="text" class="span4 alice accessToken" id="alice-new-accessToken" value="{{token}}" />
            <span class="alice lblTest"></span>
        </div>
        <!-- dialog buttons -->
        <div class="modal-footer">
            <a href="#" class="btn primary">Test & Save</a>
        </div>
    </div>
