<div id="alice-panel-error">
    <div class="row">
        <div class="span9 offset1">
            <h2>{{{title}}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="span9 offset1">
            <p>{{{headline}}}</p>
        </div>
    </div>
</div>
