<div id="alice-panel-init">

    <br />
    {{#issueTrackers}}
       <div class="row-fluid" style="margin-bottom:10px;">
           <div class="span12" style="padding-left:25px;padding-right:25px;">
               {{#.}}
                    <div class="span4 well"
                       style="position:relative">
                        <div class="alice-background-it-card"
                            style="background-image: url('{{image}}')">
                        </div>
                        <span class="pull-right">
                            <button
                                    data-it="{{name}}"
                                    data-protocol="{{protocol}}"
                                    class="alice-credentials btn btn-mini btn-block
                                           {{#server}}
                                                {{#credential}}
                                                    alice-btn-success
                                                {{/credential}}
                                                {{^credential}}
                                                    alice-btn-error
                                                {{/credential}}
                                           {{/server}}
                                           {{^server}}
                                                    alice-btn-error
                                           {{/server}}"
                                type="button">Credentials</button>
                            <button class="alice btn btn-mini btn-block selectedIT alice-btn-success"
                                data-it="{{name}}"
                                type="button">Select</button>
                        </span>
                        <div style="margin-left:4px">
                            <h4>[{{name}}]</h4>
                            <p>
                              <strong>Server: </strong>{{domain}}<br />
                              <strong>Protocol: </strong>{{protocol}}<br />
                              <strong>Context:</strong>
                              <a href="{{domain}}/{{context}}"
                                 style="width: 50px;white-space: nowrap;overflow: hidden;
                                        text-overflow: ellipsis;"
                                 title="{{domain}}/{{context}}">{{context}}</a>


                            </p>
                        </div>

                    </div>
                {{/.}}
            </div>
        </div>
    {{/issueTrackers}}
</div>


