<table class="bottom-panel-table table table-striped table-condensed row-highlight">
        <thead>
            <tr>
                <th style="text-align:right">#</th>
                <th style="text-align:center">Creator</th>
                <th style="text-align:center">Asignee</th>
                <th>&nbsp;&nbsp;Issue</th>
                <th style="text-align:center;width:10%">Status</th>
                <th style="text-align:center;width:35%">Labels</th>
                <th style="text-align:center;width:15%">Milestone</th>
            </tr>
        </thead>
        <tbody>
            {{#issues}}
            <tr>
                <td style="width:20px;text-align:right">
                    <a href="{{html_url}}">#{{number}}</a>
                </td>
                <td style="width:30px">
                    <a href="{{creator.htmlUrl}}">
                        <img src="{{creator.avatarUrl}}" style="width:24px"
                            class="alice-tooltip" title="{{creator.title}}"/>
                    </a>
                </td>
                <td style="width:30px">
                    <a href="{{assignee.htmlUrl}}">
                        <img src="{{assignee.avatarUrl}}" style="width:24px"
                            class="alice-tooltip" title="{{assignee.title}}"/>
                    </a>
                </td>
                <td><a href="#" class="alice-get-details" data-number="{{apiId}}">{{title}}</a></td>
                <td style="text-align:center;"><a href="#" >{{state}}</a></td>
                <td style="width:35%">
                    {{#labels}}
                        <span class="label" style="background-color:{{background}};color:{{color}};margin-bottom:5px">{{{name}}}</span>
                    {{/labels}}
                </td>
                <td style="width:15%">
                    {{#milestone}}
                        <span class="label label-info">
                            {{milestone.title}} ({{milestone.open_issues}})
                        </span>
                    {{/milestone}}

                </td>
            </tr>
            {{/issues}}
        </tbody>
    </table>
