<div class="btn-group alice-right-icons">
   {{#transformers}}
        <button class="btn" id="nullpo-alice-btn-transformer-{{id}}">
            {{#image}}
                <img src="{{image}}" style="width:14px" />
            {{/image}}
            {{#icon}}
                <i class="octicon {{icon}}" style="color:{{color}}"></i>
            {{/icon}}
        </button>
    {{/transformers}}
    &nbsp;
    <button class="btn" id="nullpo-alice-btn-bugs">
        <i class="octicon octicon-bug"></i>
    </button>
    <button class="btn" id="nullpo-alice-btn-open">
        <i class="octicon octicon-issue-opened"></i>
        Open
    </button>
    <button class="btn" id="nullpo-alice-btn-closed">
        <i class="octicon octicon-issue-closed"></i>
        Closed
    </button>
    <button class="btn" id="nullpo-alice-btn-all">
        <i class="octicon octicon-list-unordered"></i>
        All
    </button>
    <button class="btn" id="nullpo-alice-btn-settings">
        <i class="octicon octicon-tools"></i>
    </button>
</div>
