<script id="alice-repositories-dialog-tpl" type="x-tmpl-mustache">
    <div id="repositoriesModal" class="modal" style="width:1000px">
        <div class="modal-header">
            <h1 class="dialog-title">Configure repositories:</h1>
        </div>
        <!-- dialog contents -->
        <div class="modal-body">
            <p>From here, you can change the Alice-IT connection settings</p>
            <div class="row">
            {{#integrators}}
            <div class="span4">
                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" src="{{img}}" style="height:64px;width:64px;border:1px solid #CCC">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">{{title}}</h4>
                    <div class="media">
                        {{{body}}}
                    </div>
                  </div>
                </div>
            </div>
            {{/integrators}}
            </div>
        </div>
        <!-- dialog buttons -->
        <div class="modal-footer">
            <a href="#" class="btn primary">Test & Save</a>
        </div>
    </div>
</script>
