<script id="alice-config-github-body-tpl" type="x-tmpl-mustache">

    <label for="alice-config-github-body-token">
        <a href="https://github.com/blog/1509-personal-api-tokens">Personal API token</a>
    </label>
    <input id="alice-config-github-body-token" type="text" value="{{accessToken}}" />
    <label for="alice-config-github-body-url">
        Project URL <span class="label label-success" style="color:white">{{remote}}</span>:
    </label>
    <input type="text" id="alice-config-github-body-url" value="{{url}}" />

</script>
