<script id="alice-config-github-body-tpl" type="x-tmpl-mustache">
    <label for="alice-config-gitlab-body-token">
        <a href="{{serverUrl}}/profile/account">Private token</a>
    </label>
    <input id="alice-config-gitlab-body-token" type="text" value="{{accessToken}}" />
    <label for="alice-config-gitlab-body-url">
        Project URL <span class="label label-success" style="color:white">{{remote}}</span>:
    </label>
    <input type="text" id="alice-config-gitlab-body-url" value="{{url}}" />
</script>
