<div id="myModal" class="modal">
        <div class="modal-header">
            <h1 class="dialog-title">Settings for [{{name}}]</h1>
        </div>
        <!-- dialog contents -->
        <div class="modal-body">
            <p>For a better experience, please provide us your Personal access token.</p>
            <input type="text" class="span4"
                   id="alice-new-credential" value="{{token}}" />
        </div>
        <!-- dialog buttons -->
        <div class="modal-footer">
            <a href="#" class="btn primary" id="alice-save-credential">Save</a>
        </div>
    </div>
