<div id="alice-bottom" class="bottom-panel vert-resizable top-resizer no-focus" >
    <div class="toolbar simple-toolbar-layout mainToolbar alice-toolbar">
        <div class="row-fluid">

            <div class="span1">
                <div class="btn-group">
                    <input type="button" class="btn"
                       id="alice-btn-change" value="Change Issue tracker"/>
                </div>
            </div>
            <div class="span11">
                <div class="control-group" id="alice-panel-toolbar">
                </div>
            </div>
            <a href="#" class="close" id="alice-panel-close">&times;</a>
        </div>
    </div>
    <div class="table-container resizable-content" id="alice-bottom-issues">
        <div class="alice-background-logo"></div>
        <div id="alice-panel-content">
        </div>
    </div>
</div>
