<div id="myModal" class="modal">
        <div class="modal-header">
            <h1 class="dialog-title">{{name}}Credential configuration</h1>
        </div>
        <!-- dialog contents -->
        <div class="modal-body">
                <p>For a better experience, please provide us your user and password.</p>
                <input type="text" class="span4 alice accessToken"
                       id="alice-new-access-user" value="{{usr}}"
                       placeholder="Username" />
                <input type="text" class="span4 alice accessToken"
                       id="alice-new-access-pass" value="{{pass}}"
                       placeholder="Password" />
        </div>
        <!-- dialog buttons -->
        <div class="modal-footer">
            <a href="#" class="btn primary" id="alice-save-credential">Save</a>
        </div>
    </div>
